<div class="container">
  <section class="search">
    <form>
      <mat-form-field class="search-input" appearance="outline">
        <input
          [formControl]="search"
          type="text"
          matInput
          placeholder="Pesquise um contato"
          floatLabel="never"
          (keyup)="eventKeyup()"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <mat-slide-toggle
      #toggle
      color="accent"
      (change)="getFavorites($event)"
      [checked]="favAux"
    >
      Mostrar Favoritos
    </mat-slide-toggle>
  </section>

  <ng-container *ngIf="(contacts$ | async) as contacts; else loading">
      <div class="contact-list">
        <mat-card
          *ngFor="let contact of (contacts | slice: startIndex:endIndex)"
          [routerLink]="['/contact', contact.id]"
        >
          <mat-card-header>
            <img mat-card-avatar src="{{ contact.info.avatar }}" />
            <mat-card-title
              >{{ contact.firstName }} {{ contact.lastName }}</mat-card-title
            >
            <div class="flex-spacer"></div>
            <mat-icon *ngIf="contact.isFavorite" color="warn"
              >favorite</mat-icon
            >
            <mat-card-subtitle>{{ contact.info.phone }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><span>E-mail:</span> {{ contact.email }}</p>

            <p><span>Empresa:</span> {{ contact.info.company }}</p>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="paginator">
          <mat-paginator
            [length]="contacts.length"
            [pageSize]="pageSize"
            [hidePageSize]="true"
            [showFirstLastButtons]="false"
            (page)="pageEvent = getPaginator($event)"
          >
          </mat-paginator>
        </div>

  <ng-template #loading>
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </ng-template>

</ng-container>
</div>
<router-outlet></router-outlet>
