.container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center ;
  justify-content: center ;
}

.paginator {
  width: 100%;
}

.mat-paginator-container {
  width: 100%;
  justify-content: center !important;
  position: relative;
}

.search {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin: 0px 50em;
}

.mat-form-field{
  width: 350px;
  margin: 10px auto;
  position: relative;
}

form {
  display: grid;
  justify-content: center;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.mat-card {
  min-width: 300px;
  max-width: 300px;
  min-height: 100px;
  max-height: 150px;
  position: relative;
  float: left;
  margin: 20px;
}

mat-card-content p span {
  font-weight: bold;
  color: black
}

mat-card-content p {
  color: #444343;
}

.mat-card .flex-spacer {
  flex: auto;
}

.mat-card-actions {
  position:relative;
  display:flex;
}
