@mediaonly screen and (max-width: 720px) {
  .form-small-info mat-form-field{
    width: 100%;
  }

}

.modal {
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    overflow-y:auto;
    z-index: 4;
    align-content: center;
    justify-items: center;
}

.modal-container {
    position: relative;
    background-color: #fff;
    transition: 0.4s;
    width: 70%;
    margin: 50px auto;
}
.form {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form button {
  width: 100%;
}


.form-info {
    display: grid;
}

.form-info mat-form-field {
  margin: 0 10px;
}

.form-small-info {
  display: flex;
  flex-wrap: wrap;
}

.form-small-info mat-form-field {
  margin: 0 10px;
}

.modal-header {
    display: flex;
    background-color: blueviolet;
    color: #fff;
    flex-direction: row;
    align-items: baseline;
}

.modal-header h2{
    margin: 20px;
}

.flex-spacer {
    display: flex;
}
