<div class="modal">
  <div class="modal-container">
    <div class = "modal-header">
      <h2>{{contact.firstName}} {{contact.lastName}}</h2>
      <div class="flex-spacer"></div>
      <button mat-icon-button (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="form" >
      <form [formGroup]='form' (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sexo" formControlName="gender">
            <mat-option value="f">Feminino</mat-option>
            <mat-option value="m">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
        <div  class="form" formGroupName = "info">
          <mat-form-field>
            <input matInput placeholder="Empresa"  formControlName="company">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Avatar" formControlName="avatar">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Endereço" formControlName="address">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefone" formControlName="phone">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Textarea" formControlName="comments"></textarea>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
