<div class="modal">
  <div class="modal-container">
    <div class = "modal-header">
      <h2 *ngIf="edit">Editar Contato</h2>
      <h2 *ngIf="!edit">Novo Contato</h2>
      <div class="flex-spacer"></div>
      <button mat-icon-button (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="form" >
          <form [formGroup]='form' (ngSubmit)="onSubmit()">
            <div class = "form-small-info">
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="firstName" />
                <mat-error *ngIf= "form.get('firstName').hasError('required')">
                  Campo obrigatório
                </mat-error>
                <mat-error *ngIf="form.get('firstName').hasError('minlength')
                                  && !form.get('firstName').hasError('required')">
                  Mín. 3 caracteres.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Sobrenome" formControlName="lastName">
                <mat-error *ngIf= "form.get('lastName').hasError('required')">
                  Campo obrigatório
                </mat-error>
                <mat-error *ngIf="form.get('lastName').hasError('minlength')
                                  && !form.get('lastName').hasError('required')">
                  Mín. 3 caracteres.
                </mat-error>
              </mat-form-field><br>
              <mat-form-field appearance="outline">
                  <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" formControlName="email">
                <mat-error *ngIf = "form.get('email').hasError('email')
                                    && !form.get('email').hasError('required')">
                  E-mail inválido
                </mat-error>
                <mat-error *ngIf= "form.get('email').hasError('required')">
                  Campo obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Sexo</mat-label>
                <mat-select placeholder="Sexo" formControlName="gender">
                  <mat-option value="f" selected="contact.gender === 'f'" >Feminino</mat-option>
                  <mat-option value="m" selected="contact.gender === 'm'">Masculino</mat-option>
                </mat-select>
                <mat-error>
                  Selecione um gênero.
                </mat-error>
              </mat-form-field>
            </div>
          <div  class="form-info" formGroupName = "info">
            <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <input matInput placeholder="Empresa"  formControlName="company">
            <mat-error>
              Campo obrigatório
            </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Avatar</mat-label>
              <input matInput placeholder="Avatar" formControlName="avatar">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Endereço</mat-label>
              <input matInput placeholder="Endereço" formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <mat-hint>(xx) xxxx-xxxx</mat-hint>
              <input matInput placeholder="Telefone" formControlName="phone">
              <mat-error *ngIf = "form.get('info.phone').hasError('minlength')">
                Mínimo 8 caracteres numéricos.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Comentários</mat-label>
              <textarea matInput placeholder="Textarea" formControlName="comments"></textarea>
            </mat-form-field>
          </div>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
