.modal {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  overflow-y:auto;
  z-index: 4;
  align-content: center;
  justify-items: center;
}

.modal-container {
  position: relative;
  background-color: #fff;
  transition: 0.4s;
  width: 70%;
  margin: 50px auto;
}

.modal-header {
  display: flex;
  background-color: blueviolet;
  color: #fff;
}

.modal-container img {
  margin: 10px;
  position: relative;
  display:block;
}
.modal-info{
  padding: 10px;
  display:block;
}

.modal-info span {
  display: flex;
  flex-wrap: wrap;
  font-size: 12pt;
  line-height: 5pt;
}

.info-title {
  font-weight: bold;
  color: #400080;
}

.modal-comments span p {
  line-height: normal;
}
