@media only screen and (max-width: 720px){
  .modal-contact {
    display: block !important;
  }
}

.modal {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  overflow-y:auto;
  z-index: 4;
  align-content: center;
  justify-items: center;
}

.modal-container {
  position: relative;
  background-color: #fff;
  transition: 0.4s;
  width: 70%;
  margin: 50px auto;
}

.modal-header {
  display: flex;
  background-color: blueviolet;
  color: #fff;
}

.modal-header .flex-spacer {
  display: flex;
}

.modal-header .mat-icon-button {
  font-size: 30px;
  padding: 20px;
}

.modal-container img {
  width: 128px;
  height: 128px;
  margin: 10px;
  position: relative;
  display:block;
}

.img-fav mat-slide-toggle {
  margin: 10px;
}

.mat-slide-toggle-content {
  display: contents;
}

.modal-info{
  padding: 10px;
  display:block;
  position: relative;
}

.modal-info span {
  display: flex;
  flex-wrap: wrap;
  font-size: 12pt;
  line-height: 5pt;
}

.info-title {
  font-weight: bold;
  color: #400080;
}

.modal-contact {
  display: flex;
}

.modal-comments {
  border-top: 1px solid #c0c0c0;
  margin: 10px;
}
.modal-comments span p {
  line-height: normal;
}

