<div class = "modal">
  <div class = "modal-container"  #modal>
    <div class = "modal-header" color='primary'>
        <h2 *ngIf="contact">{{ contact.firstName }} {{ contact.lastName }}</h2>
        <div class = "flex-spacer"></div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editContact()">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteContact()">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </mat-menu>
          <button class="bt-close" mat-icon-button (click)="close()">
            <mat-icon>clear</mat-icon>
          </button>
    </div>
    <section class = "modal-contact">
      <section class="img-fav">
        <mat-slide-toggle 
        color="accent"
        (change)= "favorite($event)"
        [checked] = "favAux"
        >
          Favoritar
          <mat-icon color="warn">favorite</mat-icon>
        </mat-slide-toggle>
        <img src={{contact.info.avatar}}>
      </section>
      <section class="modal-info" >
        <span><p class="info-title">E-mail: </p><p> {{contact.email}}</p></span>
        <span><p class="info-title">Sexo: </p><p> {{contact.gender}}</p></span>
        <span><p class="info-title">Empresa: </p><p>{{contact.info.company}}</p></span>
        <span><p class="info-title">Endereço: </p><p>{{contact.info.address}}</p></span>
        <span><p class="info-title">Telefone: </p><p>{{contact.info.phone}}</p></span>
      </section>
    </section>
      <div class="modal-comments">
        <span><p class="info-title">Comentarios:</p><p>{{contact.info.comments}}</p></span>
      </div>
    </div>
</div>
