/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin:0;
    font-family: 'Nunito', sans-serif;
    background-color: #d1d1d163;
};

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center ;
  justify-content: center ;
}

.mat-tab-nav-bar{
  font-family: 'Nunito', sans-serif;
}

.mat-paginator-container {
  justify-content: center !important;
}

.mat-progress-spinner {
  margin: 100px;
}
