/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin:0;
    font-family: 'Nunito', sans-serif;
    background-color: #d1d1d163;
};

.container {
    padding: 0 20px;
}

.mat-tab-nav-bar{
    font-family: 'Nunito', sans-serif;
}
